//colors

$co-pink: #bc4595;
$co-darkBlue: #232649;
$co-blue: #007ad8;
$co-background-blue: #003083;
$co-green: #0a473d;
$co-brown: #ff8a65;
$co-other-blue: #2196f3;

//other colors
$co-color1: #cef7dc;
$co-color2: #d6f0ff;
$co-color3: #f2f2f2;
$co-black: #000;

//text sizes

$text-title-size: 32px;
$standard-text-size: 24px;
$small-text-size: 18px;

//button sizes
$standard-button: 28px;
$bigger-button: 36px;
